<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao::head(titulo='Cadastro de Projeto')" />

<body>

    <header th:replace="layout-padrao"/>
    
    
    

    <center><h1>Novo Projeto</h1></center>
    <form th:action="@{cadastrarprojeto.html}" method="post" th:object="${projeto}" >
        <table>
            <tr>
                <td>
                    Titulo
                </td>
                <td>
                    <input type="text" th:field="*{titulo}"/>
                    <strong th:if="${#fields.hasErrors('titulo')}" th:erros="*{titulo}"></strong>
                </td>
            </tr>
            <tr>
                <td>
                    URL do Perfil
                </td>
                <td>
                    <input type="url" th:field="*{urlPerfil}"/>
                    <strong th:if="${#fields.hasErrors('urlPerfil')}" th:erros="*{urlPerfil}"></strong>                    
                </td>
            </tr>
            <tr>
                <td>
                    URL do Repositorio
                </td>
                <td>
                    <input type="url" th:field="*{urlRepositorio}"/>
                    <strong th:if="${#fields.hasErrors('urlRepositorio')}" th:erros="*{urlRepositorio}"></strong>                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <input type="submit"/ value="Apenas Salvar">
                    </center>
                </td>
            </tr>
        </table>
    </form>
    
</body>

</html>